@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev{
    color: black !important;
    padding-right: 7px;
}

.swiper-button-next{
    color: black !important;
    padding-left: 7px;
}

.swiper-pagination-bullet{
    background-color: black !important;
}